<div class=" contenedor-formulario">
    <div class="wrap">
        <form name="userForm" class="formulario" ng-submit="vm.createUser()">
            <div class="text center">
                <ul class="input-group">
                    <label for=""></label>
                    <input type="text" name="firstName" minlength="3" maxlength="60" ng-model="vm.user.firstName" placeholder="Nombre" required>
                </ul>
                <ul class="input-group">
                    <label for=""></label>
                    <input type="text" name="lastName" minlength="3" maxlength="60" ng-model="vm.user.lastName" placeholder=" N° documento" required>
                </ul>

                <ul class="input-group">
                    <label for=""></label>
                    <input type="password" name="password" minlength="3" maxlength="255" ng-model="vm.user.password" placeholder="Password" required>
                </ul>
                <ul class="input-group">
                    <label for="">Rol</label>
                    <select class="Rol" ng-model="vm.user.rol.id">
                        <option value="USER">Aprendiz</option>
                        
                        <option value="INS">Instructor</option>
                    </ul>
                <input type="submit" value="Enviar">
            </div>
        </form>
        </div>
    </div>