<div class="cont-re container">
    <div class="wrap">
        <h1 class="form-signin-heading text-muted">Registro</h1>
        <form name="userForm" class=" formulario form-signin" ng-submit="vm.createUser()">
            <div class="text center">


                <input type="text" class="form-control" name="firstName" minlength="3" maxlength="60" ng-model="vm.user.firstName" placeholder="Nombre" required>



                <input type="text" class="form-control" name="lastName" minlength="3" maxlength="60" ng-model="vm.user.lastName" placeholder=" N° documento" required>




                <input type="password" class="form-control" name="password" minlength="3" maxlength="255" ng-model="vm.user.password" placeholder="Password" required>

                <ul class="input-group">
                    <label for="">Rol</label>
                    <select class="Rol" ng-model="vm.user.rol.id">
                        <option value="USER">Aprendiz</option>

                        <option value="INS">Instructor</option>
                </ul>
                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar">
            </div>
        </form>
        </div>
    </div>
